Makefile
Makefile.in
/gnome-doc-utils.make
/install-sh
/missing
/aclocal.m4
/autom4te.cache/
/autoregen.sh
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/libtool
/ltmain.sh
/py-compile
*.sw?
*.pyc
*.lo
*.la
.libs
