Makefile
Makefile.in
/html/
C/figures/telepathy-architecture-overview.png
C/figures/bus-conceptual.png
C/figures/bus-hierarchy-conceptual.png
C/figures/contactlist-flowchart.png
C/figures/telepathy-glib-type-unpacked.png
